@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&family=Poppins:wght@300;400;500;700&family=Ribeye+Marrow&family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100..900&family=Noto+Sans+Georgian:wdth,wght@62.5..100,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* body {
  background-color: red;
} */
.services-container {
  background: linear-gradient(
      1deg,
      rgba(250, 3, 3, 0.1) -297.99%,
      rgba(6, 3, 3, 0.1) 95.5%
    ),
    #010101;
}

.hexagon {
  height: 11rem;
  width: 11rem;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  animation-name: rotate;
  animation-duration: 2.6s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  color: #df0d0d;
  transition: 0.4s ease;
  z-index: 100;
}
@media screen and (max-width: 1000px) and (min-width: 481px) {
  .hexagon {
    height: 9rem;
    width: 9rem;
  }
}
.hexagon:hover {
  background-color: #f91616;
  color: black;
  font-weight: bold;
}

.hexagon p {
  text-align: center;
}
/* my fuckinggggg Animationnn buddy */

@keyframes rotate {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(0, 6px);
  }
  100% {
    transform: translate(0);
  }
}
.services-bro {
  height: 100vh;
  background-image: linear-gradient(2deg, #fa0303 2%, black 100%);
}
.services-bro h1 {
  background: #240101;
  background: linear-gradient(to right, #240101 0%, #ff1a16 100%);
  font-weight: 400;
  font-family: Ribeye Marrow;
}
.trustworthy {
  box-shadow: #df0d0d;
}
input[type="range"] {
  --range-shdw: yellow;
  background-color: grey;
}
input {
  border: 2px solid black;
}
.a2 {
  filter: drop-shadow(0 7px 7px rgba(227, 4, 4, 0.5));
}
.servicesTtitle {
  background: #240101;
  background: linear-gradient(to right, #240101 0%, #df0d0d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login {
  box-shadow: 0 4px 6px -6px rgb(192, 187, 187);
}
.signup-container {
  box-shadow: 0 4px 6px -6px rgb(192, 187, 187);
}
.slide-bottom {
  width: 150px;
  height: 100px;
}

#featured-products {
  background: #df0d0d;
  background: linear-gradient(to left, #df0d0d 0%, #df0d0d 51%, #dacece 099%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
